@font-face {
    font-family: brandFont;
    src: url(../static/PhosphatePro-Inline.otf);
}

.brandfont{
    font-family: brandFont;
    color: #e98757;
}

@font-face {
    font-family: brandFont2;
    src: url(../static/PhosphatePro-Solid.otf);
}

.brandfont2{
    font-family: brandFont2;
    color: #e98757;
}


.shop-image{
    height: 180px;
    object-fit: contain;
}

.restau-image{
    height: 200px;
    object-fit: cover;
}

.nav-pills a.nav-link{
    color: #e98757;
}

.nav-pills a.nav-link:hover{
    color: white;
    background-color: #e98757;
}

.text-center {
    text-align: center;
}

.sprungmarke{
    visibility: hidden;
    height: 0px !important;
    position: absolute;
    margin: -50px;
}