{% extends "base.html" %}
{% block title %}Bestellung Bestätigen{% endblock %}
{% block heading %}Bitte überprüfen Sie Ihre Bestellung{% endblock %}

{% block content %}
<div class="row g-4 mb-4" id="wrapper">
  <div class="col-7">
    <div class="card border-dark overflow-auto" style="max-height: 1000px;">
      <div class="card-body">
        <h3 class="card-title card-header bg-transparent">{{ restaurant['name'] }}</h3>
        <div class="mt-4">
          <div class="card-header bg-transparent" id="orderlist" ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-dark col">
    <h4 class='card-titel card-header text-center bg-transparent mt-4 mb-4'>Summe:</h4>
    <p id="item_sum" class='card-text'></p>

    <h4 class="card-titel text-center bg-transparent mt-4">Anmerkung:</h4>
    <form action="{{ url_for('place_order_page') }}" method="POST">
      <div id="orderform" >

      </div>
      <textarea type="text" name="comment" class="form-control mb-4" rows="10" placeholder="Beispiel: Nr. 12 ohne Zwiebeln"></textarea>
      <button type="submit" class="btn btn-lg btn-outline-secondary mb-2 form-control">Bestellung abschließen</button>
    </form>
  </div>
</div>

<script>

  let orderlist = [
    //{% for item in items %}
    {
      "name": "{{ item['name'] }}",
      "price": Number("{{ item['price'] }}"),
      "amount": Number("{{ item['amount'] }}")},
    //{% endfor %}
  ];

  const orderlist_element = document.getElementById('orderlist');
  const orderform_element = document.getElementById('orderform');
  const item_sum = document.getElementById('item_sum');

  const wrapper = document.getElementById('wrapper');
  
  function button_pressed(event) {
    const isButton = event.target.nodeName === 'BUTTON';
    if (!isButton || event.target.id == "order") {
      return;
    }


    var item_form = event.target.closest('form');
    var item_name = item_form.elements['name'].value;
    var item_price = item_form.elements['price'].value;

    var item_delete = false;
    if ("delete" in item_form.elements) {
      item_delete = true;
    }

    
    var found = false;
    for (let i = 0; i < orderlist.length; i++) {
      if (orderlist[i]["name"] == item_name) {
        found = true;
        if (item_delete) {
          if (orderlist[i]["amount"] > 1) {
            orderlist[i]["amount"]--;
          } else {
            orderlist.splice(i, 1);
          }
        }
        else {
          orderlist[i]["amount"]++;
        }
        break;
      }
    }
    if (!found) {
      orderlist.push({
        name: item_name,
        price: Number(item_price),
        amount: 1
      });
    }
    update_list();
  }

  function update_list() {
    let final_sum = 0;
    orderlist_element.innerHTML = "";
    orderform_element.innerHTML = "<input type='hidden' name='restaurant' value='{{ restaurant['username'] }}'></input>";

    for (let i = 0; i < orderlist.length; i++) {
      orderlist_element.insertAdjacentHTML("beforeend", "\
        <div class='row'>\
          <h5 class='card-titel col-4'>" + orderlist[i].name + "</h5>\
          <h5 class='card-titel col-2'>" + orderlist[i].amount + "x</h5>\
          <p class='card-text col-3'>" + (orderlist[i].price/100*orderlist[i].amount).toFixed(2) + "€</p>\
          <form class='card-text col-3'>\
            <input type='hidden' name='name' value='" + orderlist[i].name + "'></input>\
            <input type='hidden' name='price' value=" + orderlist[i].price + "></input>\
            <input type='hidden' name='delete' value=1></input>\
            <button type='button' class='btn btn-outline-secondary btn-sm mb-2'>Entfernen</button>\
          </form>\
        </div>");
      orderform_element.insertAdjacentHTML("beforeend", "\
        <input type='hidden' name='orderlist_names' value='" + orderlist[i].name + "'></input>\
        <input type='hidden' name='orderlist_prices' value=" + orderlist[i].price + "></input>\
        <input type='hidden' name='orderlist_amounts' value=" + orderlist[i].amount + "></input>");

        final_sum += orderlist[i].price * orderlist[i].amount;
    }

    item_sum.innerHTML = "<h5 class='card-text text-center col'>" + (final_sum/100).toFixed(2) + "€</h5>";
    
    wrapper.removeEventListener('click', button_pressed);
    wrapper.addEventListener('click', button_pressed);

    if (orderlist.length > 0) {
      orderlist_element.style.visibility = 'visible';
      orderform_element.style.visibility = 'visible';
    } else {
      orderlist_element.style.visibility = 'hidden';
      orderform_element.style.visibility = 'hidden';
    }
  }
  update_list();
  </script>

{% endblock %}

