{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block heading %}Ändern Sie ihr Profil{% endblock %}

{% block content %}
  <!--Login Panel-->
  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Ihr Profil
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name = "password" type="password" class="form-control" id="password" placeholder="Enter your password">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="firstname">First Name</label>
                                <input name = "firstname" value="{{ profile['firstname'] }}" type="text" class="form-control" id="firstname" placeholder="Enter your first name">
                            </div>
                            <div class="col-sm-6">
                                <label for="lastname">Last Name</label>
                                <input name = "lastname" value="{{ profile['lastname'] }}" type="text" class="form-control" id="lastname" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-7">
                                <label for="street">Street</label>
                                <input name = "street" value="{{ profile['street'] }}" type="text" class="form-control" id="street" placeholder="Enter your street of residence">
                            </div>
                            <div class="col-sm-5">
                                <label for="housenumber">House Number</label>
                                <input name = "housenumber" value="{{ profile['housenumber'] }}" type="text" class="form-control" id="housenumber" placeholder="Enter your house number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="postalcode">Postal Code</label>
                            <input name = "postalcode" value="{{ profile['postalcode'] }}" type="text" class="form-control" id="postalcode" placeholder="Enter your postal code">
                        </div>
                        {% if missing_fields %}
                        <p class="text-danger">Bitte füllen Sie alle Textfelder aus</p>
                        {% endif %}
                        {% if wrong_credentials %}
                        <p class="text-danger">Falsches Passwort</p>
                        {% endif %}
                        {% if saved_changes %}
                        <p class="text-success">Änderungen erfolgreich gespeichert</p>
                        {% endif %}
                        <button type="submit" class="btn btn-outline-secondary mt-2">Änderungen übernehmen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}