{% extends "base.html" %}
{% block title %}Edit Restaurant{% endblock %}
{% block heading %}Restaurant Profil bearbeiten{% endblock %}

{% block content %}
<!--Login Panel-->
    <div class="">
      <div class="card">
        <div class="card-header">
          Ihr Restaurant Profil bearbeiten:
        </div>
        <div class="card-body">
          <form action="" method="POST" enctype=multipart/form-data>
            <div class="form-group">
              <label for="password">Password</label>
              <input name="password" type="password" class="form-control" id="password"
                placeholder="Enter your password" required>
              <div class="invalid-feedback">
                Bitte geben Sie ihr Passwort ein.
              </div>
              {% if wrong_credentials %}
              <p class="text-danger">Falsches Passwort</p>
              {% endif %}
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="name">Restaurant Name</label>
                <input name="name" value="{{ profile['name'] }}" type="text" class="form-control" id="name"
                  placeholder="Enter your restaurant name" required>
                <div class="invalid-feedback">
                  Bitte füllen Sie dieses Textfeld aus.
                </div>

                <label for="image">Bild</label>
                <input name = "image" type="file" accept="image/png, image/jpeg" class="form-control" id="image">
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea name="description" type="text" class="form-control" rows=4 id="description"
                    placeholder="Enter a description for your restaurant">{{ profile['description'] }}</textarea>
                </div>

              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="street">Street</label>
                <input name="street" value="{{ profile['street'] }}" type="text" class="form-control" id="street"
                  placeholder="Enter the street of your establishment" required>
                <div class="invalid-feedback">
                  Bitte füllen Sie dieses Textfeld aus.
                </div>
              </div>
              <div class="col-sm-3">
                <label for="housenumber">House Number</label>
                <input name="housenumber" value="{{ profile['housenumber'] }}" type="text" class="form-control"
                  id="housenumber" placeholder="Enter your house number" required>
                <div class="invalid-feedback">
                  Bitte füllen Sie dieses Textfeld aus.
                </div>
              </div>
              <div class="col-sm-3">
                <label for="postalcode">Postal Code</label>
                <input name="postalcode" value="{{ profile['postalcode'] }}" type="text" class="form-control"
                  id="postalcode" placeholder="Enter your postal code" required>
                <div class="invalid-feedback">
                  Bitte füllen Sie dieses Textfeld aus.
                </div>
              </div>
            </div>
            {% if missing_fields %}
            <p class="text-danger">Bitte füllen Sie alle Textfelder aus</p>
            {% endif %}
            {% if saved_changes %}
            <p class="text-success">Änderungen erfolgreich gespeichert</p>
            {% endif %}
            <button type="submit" class="btn btn-lg btn-outline-success mt-2 form-control">Änderungen
              übernehmen</button>
          </form>
          <div class="mt-3">
            <a class="btn btn-outline-secondary mt-2 form-control" href=edit_time>Öffnungszeiten bearbeiten</a>
            <a class="btn btn-outline-secondary mt-2 form-control" href=edit_delivery_radius>Lieferradius bearbeiten</a>
            <a class="btn btn-outline-secondary mt-2 form-control" href=edit_menue>Speisekarte bearbeiten</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}