{% extends "base.html" %}
{% block title %}Edit Restaurant{% endblock %}
{% block heading %}Ändern Sie ihr Restaurant Profil{% endblock %}

{% block content %}
  <!--Login Panel-->
  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Ihr Restaurant Profil bearbeiten:
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name = "password" type="password" class="form-control" id="password" placeholder="Enter your password">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="name">Restaurant Name</label>
                                <input name = "name" value="{{ profile['name'] }}" type="text" class="form-control" id="name" placeholder="Enter your restaurant name">
                            </div>
                            <div class="col-sm-6">
                                <label for="postalcode">Postal Code</label>
                                <input name = "postalcode" value="{{ profile['postalcode'] }}" type="text" class="form-control" id="postalcode" placeholder="Enter your postal code">                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-7">
                                <label for="street">Street</label>
                                <input name = "street" value="{{ profile['street'] }}" type="text" class="form-control" id="street" placeholder="Enter the street of your establishment">
                            </div>
                            <div class="col-sm-5">
                                <label for="housenumber">House Number</label>
                                <input name = "housenumber" value="{{ profile['housenumber'] }}" type="text" class="form-control" id="housenumber" placeholder="Enter your house number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <option input name = "description" value="{{ profile['description'] }}" type="text" class="form-control" id="description" placeholder="Enter a description for your restaurant">

                        </div>
                        {% if missing_fields %}
                        <p class="text-danger">Bitte füllen Sie alle Textfelder aus</p>
                        {% endif %}
                        {% if wrong_credentials %}
                        <p class="text-danger">Falsches Passwort</p>
                        {% endif %}
                        {% if saved_changes %}
                        <p class="text-success">Änderungen erfolgreich gespeichert</p>
                        {% endif %}
                        <button type="submit" class="btn btn-outline-secondary mt-2">Änderungen übernehmen</button>
                    </form>
                </div>
            </div>

            <br>

            <div class="card">
                <div class="card-header">
                    Öffnungszeiten bearbeiten:
                </div>
                <div class="card-body">
                Öffnungszeiten
              </a>
                <div class="card card-body">
                  <form action="" method="POST">
                    {% for day in weekdays %}
                      <div class="bg-transparent mb-3 row">
                        <div class="card-text col">{{ day }}: </div>
                        {% if day in restaurant['times'].keys() %}
                        <div class="card-text col">{{ restaurant['times'][day]['from'] }} - {{ restaurant['times'][day]['until'] }}</div>
                        {% else %}
                        <div class="card-text col">geschlossen</div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </form>
                </div>
              </div>
            </div>

            <br>

            <div class="card">
              <div class="card-header">
                    Speisekarte bearbeiten:
                </div>
              <ul class="nav nav-pills justify-content-center mt-4">
                <li class="nav-item">
                  <a class="nav-link" href="#Vorspeisen">Vorspeisen</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Hauptgerichte">Hauptgerichte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Dessert">Dessert</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Getränke">Getränke</a>
                </li>
              </ul>
                
              <div class="sprungmarke" id="Vorspeisen"></div>
              <div class="mt-4">
                <h6 class ="text-center card-header bg-transparent">Vorspeisen</h6>
                {% for item in items %}
                {% if item['category'] == 'Vorspeise' %}
                <div class="form-group row">
                  <div class="col-sm-6">
                      <label for="name"></label>
                      <input name = "name" value="{{ item['name'] }}" type="text" class="form-control" id="name">
                  </div>
                  <div class="col-sm-6">
                    <label for="category"></label>
                    <input name = "category" value="{{ item['category'] }}" type="text" class="form-control" id="name">
                </div>
                <form class="card-body">
                  <div class="row">
                    <h5 class="card-titel col">{{ item['name'] }}</h5>
                    <p class="card-text col">{{ "%.2f" | format(item['price']/100) }}€</p>
                  </div>
                  <p class="card-text">{{ item['description'] }}</p>
                  <input type="hidden" name="name" value="{{ item['name'] }}"></input>
                  <input type="hidden" name="price" value="{{ item['price'] }}"></input>
                </form>
                {% endif %}
                {% endfor %}
              </div>
      
              <div class="sprungmarke" id="Hauptgerichte"></div>
              <div class="mt-4">
                <h6 class ="text-center card-header bg-transparent">Hauptgerichte</h6>
                {% for item in items %}
                {% if item['category'] == 'Hauptgericht' %}
                <form class="card-body">
                  <div class="row">
                    <h5 class="card-titel col">{{ item['name'] }}</h5>
                    <p class="card-text col">{{ "%.2f" | format(item['price']/100) }}€</p>
                  </div>
                  <p class="card-text">{{ item['description'] }}</p>
                  <input type="hidden" name="name" value="{{ item['name'] }}"></input>
                  <input type="hidden" name="price" value="{{ item['price'] }}"></input>
                </form>
                {% endif %}
                {% endfor %}
              </div>
      
              <div class="sprungmarke" id="Dessert"></div>
              <div class="mt-4">
                <h6 class ="text-center card-header bg-transparent">Dessert</h6>
                {% for item in items %}
                {% if item['category'] == 'Dessert' %}
                <form class="card-body">
                  <div class="row">
                    <h5 class="card-titel col">{{ item['name'] }}</h5>
                    <p class="card-text col">{{ "%.2f" | format(item['price']/100) }}€</p>
                  </div>
                  <p class="card-text">{{ item['description'] }}</p>
                  <input type="hidden" name="name" value="{{ item['name'] }}"></input>
                  <input type="hidden" name="price" value="{{ item['price'] }}"></input>
                </form>
                {% endif %}
                {% endfor %}
              </div>
      
              <div class="sprungmarke" id="Getränke"></div>
              <div class="mt-4">
                <h6 class ="text-center card-header bg-transparent">Getränke</h6>
                {% for item in items %}
                {% if item['category'] == 'Getränk' %}
                <form class="card-body">
                  <div class="row">
                    <h5 class="card-titel col">{{ item['name'] }}</h5>
                    <p class="card-text col">{{ "%.2f" | format(item['price']/100) }}€</p>
                  </div>
                  <p class="card-text">{{ item['description'] }}</p>
                  <input type="hidden" name="name" value="{{ item['name'] }}"></input>
                  <input type="hidden" name="price" value="{{ item['price'] }}"></input>
                </form>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}