{% extends "base.html" %}
{% block title %}Speisekarte bearbeiten{% endblock %}
{% block heading %}Ändern sie Ihre Speisekarte{% endblock %}

{% block content %}
<div class="row g-4 mb-4" id="wrapper">
  <div class="col-12">
    <div class="card border-dark overflow-auto" style="max-height: 1000px;">
      <img src="{{ url_for('static', filename=restaurant['image_path']) }}" class="card-img-top restau-image" alt="...">
      <div class="card-body">
        <h3 class="card-title card-header bg-transparent">{{ restaurant['name'] }}</h3>
        <p class="card-text card-header bg-transparent mb-3">{{ restaurant['description'] }}</p>

        <ul class="nav nav-pills justify-content-center mt-4">
          <li class="nav-item">
            <a class="nav-link" href="#Vorspeisen">Vorspeisen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Hauptgerichte">Hauptgerichte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Dessert">Dessert</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Getränke">Getränke</a>
          </li>
        </ul>
          
        <div class="sprungmarke" id="Vorspeisen"></div>
        <div class="mt-4">
          <h6 class ="text-center card-header bg-transparent">Vorspeisen</h6>
          {% for item in items %}
          {% if item['category'] == 'Vorspeise' %}
          <form class="card-body">
            <h5 class="card-titel col">{{ item['name'] }}</h5>
            <div class="row">
              <div class="col-2">
                <input type="text" name="name" class="col-2 form-control" value="{{ item['name'] }}" placeholder="Name"></input>
              </div>
              <div class="col-2">
                <textarea name="description" class="col-2 form-control" placeholder="Beschreibung" rows="3">{{ item['description'] }}</textarea>
              </div>
              <div class="col-2">
                <input type="number" class="form-control" step="1" pattern="\d+" name="price" value="{{ item['price'] }}" placeholder="Preis"></input>
              </div>
              <div class="col-2">
                <select class="form-control" name="category" value="{{ item['price'] }}" placeholder="Preis">
                  <option value="">Volvo</option>
                </select>
              </div>
              <div class="col-2">
                <button type="button" name="update_button" class="btn btn-outline-secondary mb-2 form-control">Übernehmen</button>
              </div>
              <div class="col-2">
                <button type="button" name="delete_button" class="btn btn-outline-secondary mb-2 form-control">Entfernen</button>
              </div>
              <input type="hidden" name="id" value="{{ item['id'] }}"></input>
              
              
              
              
            </div>
          </form>
          {% endif %}
          {% endfor %}
        </div>

        <div class="sprungmarke" id="Hauptgerichte"></div>
        <div class="mt-4">
          <h6 class ="text-center card-header bg-transparent">Hauptgerichte</h6>
          {% for item in items %}
          {% if item['category'] == 'Hauptgericht' %}
          <form class="card-body">
            <div class="row">
              <h5 class="card-titel col">{{ item['name'] }}</h5>
              <p class="card-text col">{{ "%.2f" | format(item['price']/100) }}€</p>
            </div>
            <p class="card-text">{{ item['description'] }}</p>
            <input type="hidden" name="id" value="{{ item['id'] }}"></input>
            <input type="hidden" name="name" value="{{ item['name'] }}"></input>
            <input type="hidden" name="price" value="{{ item['price'] }}"></input>
            <button type="button" class="btn btn-outline-secondary mb-2">zu Bestellung hinzufügen</button>
          </form>
          {% endif %}
          {% endfor %}
        </div>

        <div class="sprungmarke" id="Dessert"></div>
        <div class="mt-4">
          <h6 class ="text-center card-header bg-transparent">Dessert</h6>
          {% for item in items %}
          {% if item['category'] == 'Dessert' %}
          <form class="card-body">
            <div class="row">
              <h5 class="card-titel col">{{ item['name'] }}</h5>
              <p class="card-text col">{{ "%.2f" | format(item['price']/100) }}€</p>
            </div>
            <p class="card-text">{{ item['description'] }}</p>
            <input type="hidden" name="id" value="{{ item['id'] }}"></input>
            <input type="hidden" name="name" value="{{ item['name'] }}"></input>
            <input type="hidden" name="price" value="{{ item['price'] }}"></input>
            <button type="button" class="btn btn-outline-secondary mb-2">zu Bestellung hinzufügen</button>
          </form>
          {% endif %}
          {% endfor %}
        </div>

        <div class="sprungmarke" id="Getränke"></div>
        <div class="mt-4">
          <h6 class ="text-center card-header bg-transparent">Getränke</h6>
          {% for item in items %}
          {% if item['category'] == 'Getränk' %}
          <form class="card-body">
            <div class="row">
              <h5 class="card-titel col">{{ item['name'] }}</h5>
              <p class="card-text col">{{ "%.2f" | format(item['price']/100) }}€</p>
            </div>
            <p class="card-text">{{ item['description'] }}</p>
            <input type="hidden" name="id" value="{{ item['id'] }}"></input>
            <input type="hidden" name="name" value="{{ item['name'] }}"></input>
            <input type="hidden" name="price" value="{{ item['price'] }}"></input>
            <button type="button" class="btn btn-outline-secondary mb-2">zu Bestellung hinzufügen</button>
          </form>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

