{% extends "base.html" %}
{% block title %}Speisekarte bearbeiten{% endblock %}
{% block heading %}Angebotene Speisen und Getränke bearbeiten{% endblock %}

{% block content %}
<div class="row g-4 mb-4" id="wrapper">
  <div class="col-12">
    <div class="card border-dark">
      <div class="card-body">
        <h3 class="card-title card-header bg-transparent">{{ restaurant['name'] }}</h3>
        <ul class="nav nav-pills justify-content-center mt-2">
          <li class="nav-item">
            <a class="nav-link" href="#Vorspeisen">Vorspeisen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Hauptgerichte">Hauptgerichte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Dessert">Dessert</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Getränke">Getränke</a>
          </li>
        </ul>
          
        <form class="card-body" method="POST">
          <div class="row">
            <div class="col-3">
              <input type="text" name="name" class="col-2 form-control" placeholder="Name" required></input>
              {% if error %}
              <p class="text-danger">Artikel bereits vorhanden</p>
              {% endif %}
            </div>
            <div class="col-3">
              <textarea name="description" class="col-2 form-control" placeholder="Beschreibung" rows="3" required></textarea>
            </div>
            <div class="col-2">
              <input type="number" class="form-control" step="1" pattern="\d+" name="price" placeholder="Preis in Cent" required></input>
            </div>
            <div class="col-2">
              <select class="form-control" name="category">
                {% for category in ['Vorspeise', 'Hauptgericht', 'Dessert', 'Getränk'] %}
                <option value="{{ category }}" >{{ category }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-2">
              <button name="add_button" class="btn btn-outline-success mb-2 form-control">Hinzufügen</button>
            </div>
          </div>
        </form>

        <div class="sprungmarke" id="Vorspeisen"></div>
        <div class="mt-4">
          <h6 class ="text-center card-header bg-transparent">Vorspeisen</h6>
          {% for item in items %}
          {% if item['category'] == 'Vorspeise' %}
          <form class="card-body" method="POST">
            <h5 class="card-titel col">{{ item['name'] }}</h5>
            <div class="row">
              <div class="col-3">
                <input type="text" name="name" class="col-2 form-control" value="{{ item['name'] }}" placeholder="Name"></input>
              </div>
              <div class="col-3">
                <textarea name="description" class="col-2 form-control" placeholder="Beschreibung" rows="3">{{ item['description'] }}</textarea>
              </div>
              <div class="col-2">
                <input type="number" class="form-control" step="1" pattern="\d+" name="price" value="{{ item['price'] }}" placeholder="Preis"></input>
              </div>
              <div class="col-2">
                <select class="form-control" name="category" placeholder="Preis">
                  {% for category in ['Vorspeise', 'Hauptgericht', 'Dessert', 'Getränk'] %}
                  <option value="{{ category }}" {% if item['category'] == category %}selected{% endif %}>{{ category }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-2">
                <button name="update_button" class="btn btn-outline-success mb-2 form-control">Speichern</button>
                <button name="delete_button" class="btn btn-outline-danger mb-2 form-control">Entfernen</button>
              </div>
              <input type="hidden" name="id" value="{{ item['id'] }}"></input>
            </div>
          </form>
          {% endif %}
          {% endfor %}
        </div>

        <div class="sprungmarke" id="Hauptgerichte"></div>
        <div class="mt-4">
          <h6 class ="text-center card-header bg-transparent">Hauptgerichte</h6>
          {% for item in items %}
          {% if item['category'] == 'Hauptgericht' %}
          <form class="card-body" method="POST">
            <h5 class="card-titel col">{{ item['name'] }}</h5>
            <div class="row">
              <div class="col-3">
                <input type="text" name="name" class="col-2 form-control" value="{{ item['name'] }}" placeholder="Name"></input>
              </div>
              <div class="col-3">
                <textarea name="description" class="col-2 form-control" placeholder="Beschreibung" rows="3">{{ item['description'] }}</textarea>
              </div>
              <div class="col-2">
                <input type="number" class="form-control" step="1" pattern="\d+" name="price" value="{{ item['price'] }}" placeholder="Preis"></input>
              </div>
              <div class="col-2">
                <select class="form-control" name="category" placeholder="Preis">
                  {% for category in ['Vorspeise', 'Hauptgericht', 'Dessert', 'Getränk'] %}
                  <option value="{{ category }}" {% if item['category'] == category %}selected{% endif %}>{{ category }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-2">
                <button name="update_button" class="btn btn-outline-success mb-2 form-control">Speichern</button>
                <button name="delete_button" class="btn btn-outline-danger mb-2 form-control">Entfernen</button>
              </div>
              <input type="hidden" name="id" value="{{ item['id'] }}"></input>
            </div>
          </form>
          {% endif %}
          {% endfor %}
        </div>

        <div class="sprungmarke" id="Dessert"></div>
        <div class="mt-4">
          <h6 class ="text-center card-header bg-transparent">Dessert</h6>
          {% for item in items %}
          {% if item['category'] == 'Dessert' %}
          <form class="card-body" method="POST">
            <h5 class="card-titel col">{{ item['name'] }}</h5>
            <div class="row">
              <div class="col-3">
                <input type="text" name="name" class="col-2 form-control" value="{{ item['name'] }}" placeholder="Name"></input>
              </div>
              <div class="col-3">
                <textarea name="description" class="col-2 form-control" placeholder="Beschreibung" rows="3">{{ item['description'] }}</textarea>
              </div>
              <div class="col-2">
                <input type="number" class="form-control" step="1" pattern="\d+" name="price" value="{{ item['price'] }}" placeholder="Preis"></input>
              </div>
              <div class="col-2">
                <select class="form-control" name="category" placeholder="Preis">
                  {% for category in ['Vorspeise', 'Hauptgericht', 'Dessert', 'Getränk'] %}
                  <option value="{{ category }}" {% if item['category'] == category %}selected{% endif %}>{{ category }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-2">
                <button name="update_button" class="btn btn-outline-success mb-2 form-control">Speichern</button>
                <button name="delete_button" class="btn btn-outline-danger mb-2 form-control">Entfernen</button>
              </div>
              <input type="hidden" name="id" value="{{ item['id'] }}"></input>
            </div>
          </form>
          {% endif %}
          {% endfor %}
        </div>

        <div class="sprungmarke" id="Getränke"></div>
        <div class="mt-4">
          <h6 class ="text-center card-header bg-transparent">Getränke</h6>
          {% for item in items %}
          {% if item['category'] == 'Getränk' %}
          <form class="card-body" method="POST">
            <h5 class="card-titel col">{{ item['name'] }}</h5>
            <div class="row">
              <div class="col-3">
                <input type="text" name="name" class="col-2 form-control" value="{{ item['name'] }}" placeholder="Name"></input>
              </div>
              <div class="col-3">
                <textarea name="description" class="col-2 form-control" placeholder="Beschreibung" rows="3">{{ item['description'] }}</textarea>
              </div>
              <div class="col-2">
                <input type="number" class="form-control" step="1" pattern="\d+" name="price" value="{{ item['price'] }}" placeholder="Preis"></input>
              </div>
              <div class="col-2">
                <select class="form-control" name="category" placeholder="Preis">
                  {% for category in ['Vorspeise', 'Hauptgericht', 'Dessert', 'Getränk'] %}
                  <option value="{{ category }}" {% if item['category'] == category %}selected{% endif %}>{{ category }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-2">
                <button name="update_button" class="btn btn-outline-success mb-2 form-control">Speichern</button>
                <button name="delete_button" class="btn btn-outline-danger mb-2 form-control">Entfernen</button>
              </div>
              <input type="hidden" name="id" value="{{ item['id'] }}"></input>
            </div>
          </form>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

