{% extends "base.html" %}
{% block title %}Speisekarte{% endblock %}
{% block content %}

  <div class="container text-center brandfont2">
  <div class="row">
    <div class="col">
      <img src="static\ls_logo.png" height="350px" width="350px">
    </div>
    <div class="col align-items-center align-self-center">
      <h2>Lieferspatz</h2>
      <h4>Dein Lieblingsessen im Flug zu dir!</h4>
    </div>
  </div>
</div>
<!------aboutus------>

  <div class="container text-center brandfont2" style="background-color: #f8f9fa; margin-top:26px;height:350px;border:5px solid #e98757;border-radius: 25px;padding: 10px;">
    <div class="row">
      <div class="col">
        <h4>Über uns</h3>
      </div>
    </div>
    <div class="row"> 
      <div class="col" style="color:black;font-family: system-ui;">
        Mach einen kulinarischen Spatz-iergang mit Speisen aus Küchen jeglicher Art. Bei uns gilt seit 2006 die absolute Genussgarantie!
      </div>
    </div>
  </div>


{% endblock %}