{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block heading %}Willkommen bei Lieferspatz!{% endblock %}

{% block content %}
  <!--Login Panel-->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    {% if business %} Geschäfts-{% else %} Kunden-{% endif %}Login
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input name = "username" type="text" class="form-control" id="username" placeholder="Enter your username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name = "password" type="password" class="form-control" id="password" placeholder="Enter your password">
                        </div>
                        <div class="form-check mt-1">
                            <input name = "stayloggedin" type="checkbox" class="form-check-input" id="stayloggedin">
                            <label class="form-check-label" for="stayloggedin">Angemeldet bleiben</label>
                        </div>
                        {% if missing_fields == True %}
                        <p class="text-danger">Bitte füllen Sie alle Textfelder aus</p>
                        {% endif %}
                        {% if wrong_credentials %}
                        <p class="text-danger">Falsche Zugangsdaten</p>
                        {% endif %}
                        <button class="btn btn-lg btn-outline-success mt-2 form-control">Anmelden</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}