{% extends "base.html" %}
{% block title %}Speisekarte{% endblock %}
{% block heading %}Wähle deine Speisen aus!{% endblock %}

{% block content %}
<div class="row g-4 mb-4" id="wrapper">
  <div class="col-7">
    <div class="card border-dark overflow-auto" style="max-height: 1000px;">
      <img src="{{ url_for('static', filename=restaurant['image_path']) }}" class="card-img-top restau-image" alt="...">
      <div class="card-body">
        <h3 class="card-title card-header bg-transparent">{{ restaurant['name'] }}</h3>
        <p class="card-text card-header bg-transparent mb-3">{{ restaurant['description'] }}</p>


        <a class="btn btn-outline-secondary mb-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Öffnungszeiten
        </a>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            {% for day in weekdays %}
              <div class="bg-transparent mb-3 row">
                <div class="card-text col">{{ day }}: </div>
                {% if day in restaurant['times'].keys() %}
                <div class="card-text col">{{ restaurant['times'][day]['from'] }} - {{ restaurant['times'][day]['until'] }}</div>
                {% else %}
                <div class="card-text col">geschlossen</div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>


        
        <ul class="nav nav-pills justify-content-center mt-4">
          <li class="nav-item">
            <a class="nav-link" href="#Vorspeisen">Vorspeisen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Hauptgerichte">Hauptgerichte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Dessert">Dessert</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Getränke">Getränke</a>
          </li>
        </ul>
          
        <div class="sprungmarke" id="Vorspeisen"></div>
        <div class="mt-4">
          <h6 class ="text-center card-header bg-transparent">Vorspeisen</h6>
          {% for item in items %}
          {% if item['category'] == 'Vorspeise' %}
          <form class="card-body">
            <div class="row">
            <div class="col-6">
              <h5 class="card-titel">{{ item['name'] }}</h5>
              <p class="card-text">{{ item['description'] }}</p>
            </div>
              <p class="card-text col-2">{{ "%.2f" | format(item['price']/100) }}€</p>
            
            <div class="col-4">
              <input type="hidden" name="id" value="{{ item['id'] }}"></input>
              <input type="hidden" name="name" value="{{ item['name'] }}"></input>
              <input type="hidden" name="price" value="{{ item['price'] }}"></input>

            <button type="button" class="btn btn-outline-secondary">zu Bestellung hinzufügen</button>
          </div>
            </div>
          </form>
          {% endif %}
          {% endfor %}
        </div>

        <div class="sprungmarke" id="Hauptgerichte"></div>
        <div class="mt-4">
          <h6 class ="text-center card-header bg-transparent">Hauptgerichte</h6>
          {% for item in items %}
          {% if item['category'] == 'Hauptgericht' %}
          <form class="card-body">
            <div class="row">
            <div class="col-6">
              <h5 class="card-titel">{{ item['name'] }}</h5>
              <p class="card-text">{{ item['description'] }}</p>
            </div>
              <p class="card-text col-2">{{ "%.2f" | format(item['price']/100) }}€</p>
            
            <div class="col-4">
              <input type="hidden" name="id" value="{{ item['id'] }}"></input>
              <input type="hidden" name="name" value="{{ item['name'] }}"></input>
              <input type="hidden" name="price" value="{{ item['price'] }}"></input>

            <button type="button" class="btn btn-outline-secondary">zu Bestellung hinzufügen</button>
          </div>
            </div>
          </form>
          {% endif %}
          {% endfor %}
        </div>

        <div class="sprungmarke" id="Dessert"></div>
        <div class="mt-4">
          <h6 class ="text-center card-header bg-transparent">Dessert</h6>
          {% for item in items %}
          {% if item['category'] == 'Dessert' %}
          <form class="card-body">
            <div class="row">
            <div class="col-6">
              <h5 class="card-titel">{{ item['name'] }}</h5>
              <p class="card-text">{{ item['description'] }}</p>
            </div>
              <p class="card-text col-2">{{ "%.2f" | format(item['price']/100) }}€</p>
            
            <div class="col-4">
              <input type="hidden" name="id" value="{{ item['id'] }}"></input>
              <input type="hidden" name="name" value="{{ item['name'] }}"></input>
              <input type="hidden" name="price" value="{{ item['price'] }}"></input>

            <button type="button" class="btn btn-outline-secondary">zu Bestellung hinzufügen</button>
          </div>
            </div>
          </form>
          {% endif %}
          {% endfor %}
        </div>

        <div class="sprungmarke" id="Getränke"></div>
        <div class="mt-4">
          <h6 class ="text-center card-header bg-transparent">Getränke</h6>
          {% for item in items %}
          {% if item['category'] == 'Getränk' %}
          <form class="card-body">
            <div class="row">
            <div class="col-6">
              <h5 class="card-titel">{{ item['name'] }}</h5>
              <p class="card-text">{{ item['description'] }}</p>
            </div>
              <p class="card-text col-2">{{ "%.2f" | format(item['price']/100) }}€</p>
            
            <div class="col-4">
              <input type="hidden" name="id" value="{{ item['id'] }}"></input>
              <input type="hidden" name="name" value="{{ item['name'] }}"></input>
              <input type="hidden" name="price" value="{{ item['price'] }}"></input>

            <button type="button" class="btn btn-outline-secondary">zu Bestellung hinzufügen</button>
          </div>
            </div>
          </form>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="card border-dark col">
    <h4 class="card-titel card-header text-center bg-transparent mt-2 mb-4">Bestellung:</h4>
    <div class="card-header bg-transparent" id="orderlist" ></div>
    <form id="orderform" action="{{ url_for('confirm_order_page') }}" method="POST">
    </form>
  </div>
</div>

<script>
  let orderlist = []
  const orderlist_element = document.getElementById('orderlist');
  const orderform_element = document.getElementById('orderform');

  const wrapper = document.getElementById('wrapper');
  
  function button_pressed(event) {
    const isButton = event.target.nodeName === 'BUTTON';
    if (!isButton || event.target.id == "order") {
      return;
    }


    var item_form = event.target.closest('form');
    var item_id = item_form.elements['id'].value;
    var item_name = item_form.elements['name'].value;
    var item_price = item_form.elements['price'].value;

    var item_delete = false;
    if ("delete" in item_form.elements) {
      item_delete = true;
    }

    
    var found = false;
    for (let i = 0; i < orderlist.length; i++) {
      if (orderlist[i]["name"] == item_name) {
        found = true;
        if (item_delete) {
          if (orderlist[i]["amount"] > 1) {
            orderlist[i]["amount"]--;
          } else {
            orderlist.splice(i, 1);
          }
        }
        else {
          orderlist[i]["amount"]++;
        }
        break;
      }
    }
    if (!found) {
      orderlist.push({
        id: item_id,
        name: item_name,
        price: Number(item_price),
        amount: 1
      });
    }
    update_list();
  }

  function update_list() {
    let final_sum = 0;
    orderlist_element.innerHTML = "";
    orderform_element.innerHTML = "\
      <input type='hidden' name='restaurant' value='{{ restaurant['username'] }}'></input>\
      <button id='order' type='submit'class='btn btn-lg btn-outline-success mb-2 form-control'>Weiter</button>";

    for (let i = 0; i < orderlist.length; i++) {
      orderlist_element.insertAdjacentHTML("beforeend", "\
        <div class='row'>\
          <h5 class='card-titel col-4'>" + orderlist[i].name + "</h5>\
          <h5 class='card-titel col-2'>" + orderlist[i].amount + "x</h5>\
          <p class='card-text col-3'>" + (orderlist[i].price/100*orderlist[i].amount).toFixed(2) + "€</p>\
          <form class='card-text col-3'>\
            <input type='hidden' name='id' value='" + orderlist[i].id + "'></input>\
            <input type='hidden' name='name' value='" + orderlist[i].name + "'></input>\
            <input type='hidden' name='price' value=" + orderlist[i].price + "></input>\
            <input type='hidden' name='delete' value=1></input>\
            <button type='button' class='btn btn-outline-danger btn-sm mb-4'>Entfernen</button>\
          </form>\
        </div");
      orderform_element.insertAdjacentHTML("beforeend", "\
        <input type='hidden' name='orderlist_ids' value='" + orderlist[i].id + "'></input>\
        <input type='hidden' name='orderlist_names' value='" + orderlist[i].name + "'></input>\
        <input type='hidden' name='orderlist_prices' value=" + orderlist[i].price + "></input>\
        <input type='hidden' name='orderlist_amounts' value=" + orderlist[i].amount + "></input>");

        final_sum += orderlist[i].price * orderlist[i].amount;
    }
    orderlist_element.insertAdjacentHTML("beforeend", "\
      <h5 class='card-header bg-transparent'>Summe:</h5>\
      <h5 class='card-header card-text bg-transparent col text-center'>" + (final_sum/100).toFixed(2) + "€</h5>");
    wrapper.removeEventListener('click', button_pressed);
    wrapper.addEventListener('click', button_pressed);

    if (orderlist.length > 0) {
      orderlist_element.style.visibility = 'visible';
      orderform_element.style.visibility = 'visible';
    } else {
      orderlist_element.style.visibility = 'hidden';
      orderform_element.style.visibility = 'hidden';
    }
  }
  update_list();
  </script>

{% endblock %}

