{% extends "base.html" %}
{% block title %}Orders{% endblock %}
{% block heading %}Ihre Bestellungen{% endblock %}

{% block content %}
<div class="row g-4 mb-4">
  {% for order in orders %}
  <div class="col-4">
      <div class="card">
      <img src="{{ url_for('static', filename='test1.jpeg') }}" class="card-img-top shop-image" alt="...">
      <div class="card-body">
          <h5 class="card-title">{{ order['KUsername'] }}</h5>
          <p class="card-text">{{ order['GUsername'] }}</p>
          <p class="card-text">{{ order['ordertime'] }}</p>
      </div>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}