{% extends "base.html" %}
{% block title %}Orders{% endblock %}
{% block heading %}Ihre Bestellungen{% endblock %}

{% block content %}
<div class="row g-4 mb-4">
  {% for status in ['in Bearbeitung', 'in Zubereitung', 'abgeschlossen/storniert'] %}
    {% for order in orders %}
      {% if order['orderstatus'] in status %}
        <div class="card">
        <div class="card-body">
          <div class="row card-header bg-transparent mb-4">
            <div class="col-3">
              <h5 class="card-title">{{ order['GUsername'] }}</h5>
            </div>
            <div class="col-3">
              <p class="card-text">{{ order['ordertime'].split('.')[0] }}</p>
            </div>
            <div class="col-3">
              <div class="card-text p-1 text-center rounded-3 text-white bg-{{
                'success' if order['orderstatus'] == 'in Zubereitung' else 'warning' if order['orderstatus'] == 'in Bearbeitung' else 'secondary'  
                }}">{{ order['orderstatus'] }}</div>
            </div>
            <div class="col-3">
              {% if order['orderstatus'] == 'in Bearbeitung' %}
              <form method="POST">
                <input type="hidden" name="stornieren" value="1">
                <input type="hidden" name="orderid" value="{{ order['id'] }}">
                <button type="submit" class="btn btn-outline-danger form-control">Storieren</button>
              </form>
              {% endif %}
            </div>
          </div>
            
            
            {% for item in order['items'] %}
            <div class="row">
              <p class="card-text col">{{ item['name'] }}</p>
              <p class="card-text col">{{ item['amount'] }}x</p>
              <p class="card-text col">{{ "%.2f" | format(item['price']*item['amount']/100) }}€</p>
            </div>
            {% endfor %}
            <div class="row card-header bg-transparent mb-2"></div>
            <div class="card-text row">
              <div class="col-4">
                Anmerkung: {{ order['comment'] }}
              </div>
              <div class="col-4"></div>
              <div class="col-4">
                Summe: {{ "%.2f" | format(order['sum']/100) }}€
              </div>
            </div>
        </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}